-# / ======= Services Section =======
-# %section.section
-#   .container
-#     .row.justify-content-center.text-center.mb-4
-#       .col-5
-#         %h3.h3.heading 学習計画一覧
-#     .row
-#       
-#         .col-12.col-sm-6.col-md-6.col-lg-3
-#           %span.la.la-cube.la-3x.mb-4
-#           %h4.h4.mb-2 
-#             =link_to plan.title, l
-#           %p 計画期間:"#{plan.start_at} ~ #{plan.end_at}"
-#   =link_to '学習計画を作成する', new_login_plan_path
%section#pricing.padd-section.text-cente
  .container{"data-aos" => "fade-up"}
    .section-title.text-center
      %h2 学習計画一覧
      %p.separator 学習計画を振り返ろう！
    .row{"data-aos" => "fade-up", "data-aos-delay" => "100"}
      -@plans.each do |plan|
        .col-md-6.col-lg-4
          .block-pricing
            .table 
              %h2 
                "#{plan.title}"
              %ul.list-unstyled
                %li
                  %b 期間
                  "#{plan.start_at} 〜 #{plan.end_at}"
                %li
                  %b 使用教材
                  "#{plan.study_aid}"
                -if plan.plan_status == :after_end
                  %li
                    %b 進捗
                    "#{plan.status}"
              .table_btn
                =link_to '詳細', login_plan_path(plan.id), class: 'btn'
  / End Pricing Section
