%section#pricing.padd-section.text-cente
  .container{"data-aos" => "fade-up"}
    .section-title.text-center
      %h2 学習計画一覧
      %p.separator 学習計画を振り返ろう！
    .row
      %form
        =search_form_for [:login, @q] do |f|
          .form-group
            = f.label :title, "プラン名"
            = f.search_field :title_cont, class: 'search-plan'
          .form-group
            = f.label :start_at, "計画開始日"
            = f.date_select :start_at_gteq
            %span
              〜
            = f.date_select :start_at_lteq
          .form-group
            = f.label :end_at, "計画終了日"
            = f.date_select :end_at_gteq
            %span
              〜
            = f.date_select :end_at_lteq
          = f.submit "検索"
      %ul.js-plans
    .row{"data-aos" => "fade-up", "data-aos-delay" => "100"}
      -@plans.each do |plan|
        .col-md-6.col-lg-4.py-3
          .block-pricing
            .table 
              %h3 
                #{plan.title}
              %ul.list-unstyled
                -if plan.plan_status == :before_end
                  %li
                    %b=t('activerecord.attributes.plan.period')
                    #{I18n.l(plan.start_at, format: :date)} 〜 #{I18n.l(plan.end_at, format: :date)}
                -else
                  %li
                    %b 計画期間は終了しました
                %li
                  %b=t('activerecord.attributes.plan.study_aid')
                  #{plan.study_aid}
              .table_btn
                =link_to '詳細', login_plan_path(plan.id), class: 'btn'
  .container{"data-aos" => "fade-up"}
    =link_to '学習計画を作成', new_login_plan_path, class: 'btn-top'
    =link_to '戻る', root_path, class: 'btn-top'
  -if @plans.ended.present?
    .container{"data-aos" => "fade-up"}
      =link_to '振り返り済計画をエクスポート', export_login_plans_path, method: :post, class: 'btn-top'