%section#features.padd-section.text-center
  .container{"data-aos" => "fade-up"}
    .section-title.text-center
      %h2 
        #{@plan.title}
      %p.separator 学習計画詳細
    .row{"data-aos" => "fade-up", "data-aos-delay" => "100"}
      .col-md-6.col-lg-4
        .feature-block
          %img{:alt => "img", :src => "assets/img/svg/paint-palette.svg"}/
          %h4=t('activerecord.attributes.plan.study_aid')
          %p 
            #{@plan.study_aid}
      .col-md-6.col-lg-4
        .feature-block
          %img{:alt => "img", :src => "assets/img/svg/asteroid.svg"}/
          %h4=t('activerecord.attributes.plan.start_at')
          %p 
            #{I18n.l(@plan.start_at, format: :date)}
      .col-md-6.col-lg-4
        .feature-block
          %img{:alt => "img", :src => "assets/img/svg/asteroid.svg"}/
          %h4=t('activerecord.attributes.plan.end_at')
          %p 
            #{I18n.l(@plan.end_at, format: :date)}
      .col-md-6.col-lg-6
        .feature-block
          %img{:alt => "img", :src => "assets/img/svg/vector.svg"}/
          %h4=t('activerecord.attributes.plan.plan_detail')
          %p 
            #{@plan.plan_detail}
      .col-md-6.col-lg-6
        .feature-block
          %img{:alt => "img", :src => "assets/img/svg/design-tool.svg"}/
          %h4=t('activerecord.attributes.plan.plan_goal')
          %p 
            #{@plan.plan_goal}
      -if @plan.plan_status == :after_end
        .col-md-6.col-lg-4
          .feature-block
            %img{:alt => "img", :src => "assets/img/svg/vector.svg"}/
            %h4=t('activerecord.attributes.plan.status')
            %p 
              #{@plan.status}
        .col-md-6.col-lg-8
          .feature-block
            %img{:alt => "img", :src => "assets/img/svg/design-tool.svg"}/
            %h4=t('activerecord.attributes.plan.feedback_comment')
            %p 
              #{@plan.feedback_comment}
  .container{"data-aos" => "fade-up"}
    =link_to '計画一覧へ戻る', login_plans_path, class: 'btn-top'
    -if @plan.plan_status == :before_end
      =link_to '学習計画を更新する', edit_login_plan_path(@plan.id), class: 'btn-top'
    -else
      =link_to '学習計画を振り返る', edit_login_plan_path(@plan.id), class: 'btn-top'
    =link_to '学習計画を削除' , login_plan_path(@plan.id), method: :delete, data: {confirm: "削除しますか？"}, class: 'btn-top'
    =link_to '戻る', login_plans_path, class: 'btn-top'